.error-boundary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18121a;
    color: rgba(255, 255, 255, 0.5);
    padding: 10rem;
    box-sizing: border-box;
    z-index: 9999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.error-boundary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-boundary-emoji {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 50px;
}

.error-boundary-text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
    margin-bottom: 50px;
}

.error-boundary-error-details {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 20px;
    cursor: text;
}

.error-boundary-error-lines {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: text;
}

.error-boundary-error-line {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-bottom: 10px;
}

.glitch {
    color: #fff;
    position: relative;
    width: auto;
    white-space: nowrap;
}

@keyframes noise-anim {
    0% {
        clip: rect(44px, 9999px, 32px, 0);
    }
    5% {
        clip: rect(70px, 9999px, 10px, 0);
    }
    10% {
        clip: rect(81px, 9999px, 10px, 0);
    }
    15% {
        clip: rect(77px, 9999px, 64px, 0);
    }
    20% {
        clip: rect(24px, 9999px, 87px, 0);
    }

    25% {
        clip: rect(40px, 9999px, 65px, 0);
    }
    30% {
        clip: rect(87px, 9999px, 90px, 0);
    }
    35% {
        clip: rect(50px, 9999px, 14px, 0);
    }
    40% {
        clip: rect(100px, 9999px, 19px, 0);
    }
    45% {
        clip: rect(16px, 9999px, 7px, 0);
    }
    50% {
        clip: rect(17px, 9999px, 91px, 0);
    }
    55% {
        clip: rect(84px, 9999px, 2px, 0);
    }
    60% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    65% {
        clip: rect(66px, 9999px, 3px, 0);
    }
    70% {
        clip: rect(25px, 9999px, 69px, 0);
    }
    75% {
        clip: rect(72px, 9999px, 67px, 0);
    }
    80% {
        clip: rect(28px, 9999px, 40px, 0);
    }
    85% {
        clip: rect(6px, 9999px, 80px, 0);
    }
    90% {
        clip: rect(58px, 9999px, 42px, 0);
    }
    95% {
        clip: rect(22px, 9999px, 87px, 0);
    }
    100% {
        clip: rect(97px, 9999px, 58px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(66px, 9999px, 73px, 0);
    }

    5% {
        clip: rect(31px, 9999px, 97px, 0);
    }

    10% {
        clip: rect(91px, 9999px, 84px, 0);
    }

    15% {
        clip: rect(51px, 9999px, 72px, 0);
    }

    20% {
        clip: rect(79px, 9999px, 33px, 0);
    }

    25% {
        clip: rect(81px, 9999px, 20px, 0);
    }

    30% {
        clip: rect(86px, 9999px, 64px, 0);
    }

    35% {
        clip: rect(88px, 9999px, 98px, 0);
    }

    40% {
        clip: rect(69px, 9999px, 6px, 0);
    }

    45% {
        clip: rect(24px, 9999px, 68px, 0);
    }

    50% {
        clip: rect(91px, 9999px, 79px, 0);
    }

    55% {
        clip: rect(75px, 9999px, 79px, 0);
    }

    60% {
        clip: rect(84px, 9999px, 32px, 0);
    }

    65% {
        clip: rect(90px, 9999px, 2px, 0);
    }

    70% {
        clip: rect(42px, 9999px, 84px, 0);
    }

    75% {
        clip: rect(48px, 9999px, 14px, 0);
    }

    80% {
        clip: rect(79px, 9999px, 91px, 0);
    }

    85% {
        clip: rect(77px, 9999px, 6px, 0);
    }

    90% {
        clip: rect(99px, 9999px, 75px, 0);
    }

    95% {
        clip: rect(76px, 9999px, 60px, 0);
    }

    100% {
        clip: rect(4px, 9999px, 50px, 0);
    }
}

.glitch:before,
.glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    color: #fff;
    background: #18121a;
    overflow: hidden;
}

.glitch:before {
    width: 100%;
    left: -5px;
    text-shadow: 2px 0 #00f;
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.glitch:after {
    width: 100%;
    left: 2px;
    text-shadow: -2px 0 red;
    animation: noise-anim 2s infinite linear alternate-reverse;
}
